.RichDiff {
    position: relative;
    padding: 10px;
}


/* First level block */
.RichDiff > .diff-block-modified {
    border-left: 4px solid #ffc045;
}
.RichDiff > .diff-block-added {
    border-left: 4px solid #7fcb5c;
}
.RichDiff > .diff-block-removed {
    border-left: 4px solid #c94114;
}

.diff-block-added {
    background: #eaffea;
}

.diff-block-removed {
    color: #a33;
    text-decoration: line-through;
    background: #ffeaea;
}


.diff-character-removed {
    color: #a33;
    text-decoration: line-through;
    background: #ffeaea;
}

.diff-character-added {
    background: #eaffea;
}
