.RichDiff {
  position: relative;
  padding: 20px;
  /* First level blocks */
  /* Tables */
}
.RichDiff > .diff-block-modified {
  position: relative;
}
.RichDiff > .diff-block-modified:before {
  position: absolute;
  left: -20px;
  content: "";
  top: 0px;
  bottom: 0px;
  border-left: 4px solid #ffc045;
}
.RichDiff > .diff-block-added {
  position: relative;
}
.RichDiff > .diff-block-added:before {
  position: absolute;
  left: -20px;
  content: "";
  top: 0px;
  bottom: 0px;
  border-left: 4px solid #7fcb5c;
}
.RichDiff > .diff-block-removed {
  position: relative;
}
.RichDiff > .diff-block-removed:before {
  position: absolute;
  left: -20px;
  content: "";
  top: 0px;
  bottom: 0px;
  border-left: 4px solid #c94114;
}
.RichDiff .diff-block-added,
.RichDiff .diff-range-added {
  color: inherit;
  background: #eaffea;
}
.RichDiff .diff-block-removed,
.RichDiff .diff-range-removed {
  color: #a33;
  text-decoration: line-through;
  background: #ffeaea;
}
.RichDiff td.diff-block-modified {
  color: inherit;
  background: #ffffea;
}
