.WYSIWYGEditor {
    border-radius: @gb-border-radius-small;
    font-size: 1.1rem;
    border: 1px solid @gb-form-control-border;
    background: @gb-form-control-background;
    outline: none;
    color: @gb-form-control-color;

    &:focus, &.focus {
        outline: none;
        border-color: @gb-form-control-active-border;
        background: @gb-form-control-active-background;

        .WYSIWYGEditor-Toolbar {
            opacity: 1;
        }
    }

    &:disabled, &.disabled {
        border-color: @gb-form-control-disabled-border;
        background: @gb-form-control-disabled-background;
    }

    .WYSIWYGEditor-Toolbar {
        opacity: 0.5;
        padding: @gb-padding-base-vertical @gb-padding-base-horizontal;
    }

    .WYSIWYGEditor-Content {
        position: relative;
        padding: @gb-padding-base-vertical @gb-padding-base-horizontal;
        user-select: text;
        cursor: text;

        .WYSIWYGEditor-SlateEditor {
            position: relative;
            z-index: 2;
            overflow: visible;

            table > {
                border-top: 1px solid #ccc;

                tbody > {
                    tr {
                        background-color: #fff;
                        border: none;
                        border-bottom: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        td {
                            flex: 1;
                            word-break: break-all;
                            border-left: 1px solid #ccc;
                            border-top: none;
                            border-bottom: none;
                            border-right: none;
                        }

                        // Header
                        &:first-child {
                            background: @gb-table-header-background;
                            font-weight: @gb-font-weight-bold;
                        }

                        &:nth-child(2n) {
                            background-color: #fff;
                        }
                        &:nth-child(2n+1) {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
        }

        .WYSIWYGEditor-Placeholder {
            color: #ccc;
            position: absolute;
            top: (@gb-padding-base-vertical + 3px);
            z-index: 1;
        }
    }

    .WYSIWYGEditor-ImageNode {
        display: inline-block;

        &.selected {
            outline: 2px solid @gb-brand-primary;
        }
    }

    .WYSIWYGEditor-HRNode {
        &.selected {
            outline: 2px solid @gb-brand-primary;
        }
    }

    .WYSIWYGEditor-TaskListItem {
        list-style: none;
        display: flex;
        margin-left: -18px;

        .TaskListItem-Checkbox {
            flex: 0;
            padding-right: 10px;
        }

        .ListItem-Content {
            flex: 1;
        }
    }

    .WYSIWYGEditor-EmojisButton {
        ul {
            padding: 5px;
        }

        .dropdown-menu > li, .dropdown .dropdown-menu > li {
            display: inline-block;

            &.dropdown-header {
                display: block;
                margin-bottom: 8px;
            }

            a {
                display: inline-block;
                border-radius: 3px;
                .transition(~"transform ease 0.12s");

                &:hover, &.active {
                    background: none;
                    .transform(~"scale(1.7)");
                }
            }
        }
    }
}
